<div class=" container-fluid p-0">
  <div class=" d-flex flex-row overflow-x-scroll gap-2 " style="max-width: 100vw; height: 8rem;">
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>
  <%= render 'story/story' %>

  </div>
</div>
