<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-fullscreen-md-down">
    <%= form_with(model: post) do |form| %>
      <div class="modal-content "  >
        <div class="modal-header p-0" > 
          <div>
            <button type="button" class="btn-close btn-danger" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <h1 class="modal-title fs-5 m-auto" id="exampleModalLabel">Create new post</h1>
          <div >
            <%= form.submit "Share", class: "btn btn-link link-primary text-decoration-none" %>
          </div>
        </div>
        <div class="modal-body d-flex p-0" style="height:60vh">
          <div class="border-end border-secondary" style="width:60%">
            <%= form.file_field :images, multiple:true, id: "post-images" %>
          </div>
          <div style="width: 40%">
            <% if post.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
                <ul>
                  <% post.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="my-2 ms-2">
              <% if current_user.profile_pic.attached? %>    <%# if current_user && current_user.profile_pic.attached? %>
                <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle border-0 p-0", style: "width: 10%" %>
              <% else %>
                <%= image_tag "profile-pic.png", class: "img-thumbnail rounded-circle border-0 p-0", style: "width: 10%"%>
              <% end %>
              <span class="fw-bold mx-2" style="font-size: 14px"><%= current_user.username %></span>    <!--current_user.username-->
            </div>
            <div>
              <%= form.text_area :caption, rows: 7, placeholder: "Write a caption", class: "form-control border-0 text-muted ps-2", style:"resize: none"%>
            </div>
            <hr class="my-2 mx-0">
            <div class="px-2">
              <%= form.text_field :location, placeholder: "Add Location", class: "form-control p-0 border-0" %>
            </div>
            <hr class="my-2 mx-0">
            <div>
              <div class="d-flex justify-content-between px-2 border-0 " data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                <a class="text-decoration-none text-black">
                  Accessibility
                </a>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                  <%= form.text_field :location, placeholder: "Write alt text...", class: "form-control p-0 border-0" %>
                </div>
              </div>
            </div>
            <hr class="my-2 mx-0">
            <div>
              <div class="d-flex justify-content-between pb-2 px-2" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                <a class="text-decoration-none text-black">
                  Advanced settings
                </a>
                <i class="fa-solid fa-chevron-down"></i>
              </div>
              <div class="collapse" id="collapseExample2">
                <div class="card card-body">
                  <div class="form-check form-switch">
                    <%= form.check_box :allow_comments, class: "form-check-input", role:"switch" %>
                    <%= form.label :allow_comments, style: "display: block", class: "form-check-label" %>
                  </div>
                  <div class="form-check form-switch">
                    <%= form.check_box :show_likes_count, class: "form-check-input", role:"switch" %>
                    <%= form.label :show_likes_count, style: "display: block", class: "form-check-label" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
