<div class="modal fade" id="post<%= post.id %>_commentsModal" tabindex="-1" aria-labelledby="post<%= post.id %>_commentsModalLabel" aria-hidden="true">
  <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-3 d-none d-sm-block" style="color: red" data-bs-dismiss="modal" aria-label="Close"></button>
  <div class="modal-dialog modal-dialog-centered mx-auto" style=" max-width: fit-content; max-height: fit-content;">
    <div class="modal-content flex-xl-row" style="flex-shrink: 0 ">
      <div class="d-flex" style=" ">
        <div class="container border-0 px-0" style="" >  <!--w-100-->
          <div class="card-body" style= "padding: 0" > <!--w-100-->
            <div id="post<%= post.id %>_images_modal" class="carousel " data-bs-ride="false">   <!-- false = stoped | carusel = autoslide directly | true = slide after 1 click-->
              <div class="carousel-indicators">
                <% post.images.each_with_index do |img, i| %>
                  <button type="button" data-bs-target="#post<%= post.id %>_images_modal" data-bs-slide-to="<%= i %>" class="carousel-buttons <%= i==0 ? 'active' : '' %>" aria-current="<%= i==0 ? 'true' : '' %>" aria-label="Slide <%= i+1 %>"></button>
                <% end %>
              </div>
              <div class="carousel-inner" style="max-width: 70vw; min-width:22rem;">
                <% post.images.each_with_index do |img, i| %>
                  <div class="carousel-item <%= i==0 ? 'active' : '' %>" style="">
                    <%= image_tag img, class: "d-block w-100", style: "max-width: 70vw; min-width:22rem; max-height: 92vh; object-fit: contain;" %> <!--w-100-->
                  </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#post<%= post.id %>_images_modal" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" style="width: 26px; height: 26px;" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#post<%= post.id %>_images_modal" data-bs-slide="next">
                <span class="carousel-control-next-icon" style="width: 26px; height: 26px" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
        <%#= render 'posts/post_images', post: post %>
      </div>
      <div class="mx-auto" style="width:24vw; min-width:22rem; margin-left: 4px;">
        <div class="modal-header p-1 w-100">
          <%= render 'posts/post_header', post: post %>
          <button type="button" class="btn-close btn-close mx-2 d-sm-none" style="color: red" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body p-2 " style="max-height: 80vh; overflow: scroll">
          <div class="d-flex">
            <div style= "width: 46px; height: 46px; flex-shrink: 0">
              <% if post.user.profile_pic.attached? %>
                <%= image_tag post.user.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 40px; height: 40px; padding: 2px; border; border-width: 2px; border-color: red" %>
              <% else %>
                <%= image_tag "profile-pic.png", class: "img-thumbnail rounded-circle", style: "width: 40px; height: 40px; padding: 2px; border; border-width: 2px; border-color: red" %>
              <% end %>
            </div>
            <div>
              <%= render 'posts/post_user_caption', post: post %>
            </div>
          </div>
          <div style="max-height: 78vh; padding-right: 6px; padding-bottom: 20px; overflow: scroll">
            <% post.comments.each do |comment| %>
              <%= render 'posts/modal_comment', comment: comment %>
            <% end %>
          </div>
          <!--<div class="bg-danger; padding-bottom: 20px" >-->
            <%#= render 'posts/post_actions', post: post %>
            <%#= render 'posts/post_add_comments', post: post %>
          <!--</div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("post<%= post.id %>_images_modal").addEventListener("dblclick", function(){
    document.getElementById("post<%= post.id %>actions-likeBtn").click();
  })
</script>