<%= turbo_frame_tag "post#{post.id}actions" do %>
  <div class="d-flex justify-content-start align-items-center gap-1 py-3">
    <%= button_to toggle_like_path(post_id: post.id), method: :post, style: "border: none; background: none", id: "post#{post.id}actions-likeBtn" do %>
      <i class="<%= post.likes.find_by(user: current_user) ? "fa-solid post-like-red-button" : "fa-regular" %>  fa-heart fa-xl"></i>
    <% end %>
  </div>
  <a href="#" data-bs-toggle="modal" data-bs-target="#post<%= post.id %>_likesModal" style="text-decoration:none" class="text-dark">
    <small class="fw-bold my-1 px-2">
      <%= pluralize(post.likes.count, "like") %>
    </small>
  </a>
  <!-- Modal -->
  <div class="modal fade" id="post<%= post.id %>_likesModal" tabindex="-1" aria-labelledby="post<%= post.id %>_likesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header p-1  d-flex">
          <h1 class="modal-title fs-5 ms-auto" id="post<%= post.id %>_likesModalLabel">Likes</h1>
          <button type="button" class="btn-close m-0 ms-auto" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <% post.likers.each do |liker| %>
            <%= render 'posts/liker', liker: liker %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
