<div id="<%= dom_id post %>">
<div class="container-sm border-0 px-0" style="max-width:468px">  <!--w-100-->
  <%= render 'posts/post_header', post: post %>
  <div class="card-body w-100" style= "padding: 0"> <!--w-100-->
    <%= render 'posts/post_images', post: post %>
    <%= render 'posts/post_actions', post: post %>
    <%= render 'posts/post_user_caption', post: post %>
    <%= render 'posts/post_comments', post: post %>
    <%= render 'posts/post_add_comments', post: post %>
  </div>
</div>
</div>
<script>
  document.getElementById("post<%= post.id %>_images").addEventListener("dblclick", function(){
    document.getElementById("post<%=post.id%>actions-likeBtn").click();
  })
</script>
