<div class="d-flex justify-content-between my-1">
  <div class="d-flex">
    <div  style= "width: 46px; height: 46px; flex-shrink: 0">
      <%#= image_tag suggestion.profile_pic.attached? ? suggestion.profile_pic : "profile-pic.png", class: "img-thumbnail rounded-circle p-0 border", style: "width: 3.1rem; height: 3.1rem" %>
      <% if suggestion.profile_pic.attached? %>
        <%= image_tag suggestion.profile_pic, class: "img-thumbnail rounded-circle", style: "width: 46px; height: 46px; padding: 0px;" %>
      <% else %>
        <%= image_tag "profile-pic.png", class: "img-thumbnail rounded-circle", style: "width: 46px; height: 46px; padding: 0px;" %>
      <% end %>
    </div>
    <div class="m-auto ms-3">
      <p class="" style="max-width: 12rem; margin-bottom: 0; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font: 14px sans-serif; font-weight:bold">
        <%= link_to suggestion, class: "text-decoration-none text-dark", data: {turbo: "false"} do %>
          <%= suggestion.username %>
        <% end %>
      </p>
      <p class="m-0 text-muted" style="font: 12px sans-serif; max-width: 12rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
        <%= @random_message.sample() %>
      </p>
    </div>
  </div>
  <div class="my-auto">
    <% if current_user.waiting_followings.include?(suggestion) %>
      <%= button_to cancel_request_path(user_id: suggestion.id), method: :delete, class:"btn bg-transparent border-0", data: {turbo: "false"} do %>
        <small class="fw-bold text-secondary">Cancel</small>
      <% end %>
    <% else %>
      <%= button_to follow_path(user_id: suggestion.id), method: :post, class:"btn bg-transparent border-0", data: {turbo: "false"} do %>
        <small class="fw-bold text-primary">Follow</small>
      <% end %>
    <% end %>
  </div>
</div>
