<div class="sticky-top d-flex flex-column justify-content-between px-1 col-auto bg-white min-vh-100 border border-1">
  <div class="mt-4">
    <div class="d-none d-xxl-block">
      <%= link_to root_path do %>
        <div class="d-flex justify-content-center m-2 p-2 rounded" id="navbar-logo" style="width: 230px;">
          <%= image_tag 'logo.png', width: "100rem"%>
        </div>
      <% end %>
    </div>
    <div>
      <%= link_to root_path do %>
        <div class="text-center m-3 d-xxl-none" id="navbar-icon" style="width: 30px">
          <i class="fa-brands fa-instagram fa-xl text-black text-center text-decoration-none"></i>
        </div>
      <% end %>
    </div>
    <!--<hr>-->
    <ul class="nav nav-pills flex-column " id="menu">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link text-black text-center text-xxl-start py-3 " do %>
          <i class="fa-solid fa-house fa-xl"></i>
          <span class="ms-3 d-none d-xxl-inline">Home</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link text-black text-center text-xxl-start py-3 " do %>
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          <span class="ms-3 d-none d-xxl-inline">Search</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link text-black text-center text-xxl-start py-3 " do %>
          <i class="fa-regular fa-compass fa-xl"></i>
          <span class="ms-3 d-none d-xxl-inline">Explore</span>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link text-black text-center text-xxl-start py-3" do %>
          <i class="fa-regular fa-paper-plane fa-xl"></i>
          <!--<i class="bi bi-send fa-xl bi-type-bold"></i>-->
          <span class="ms-3 d-none d-xxl-inline">Messages</span>
        <% end %>
      </li>
      <%= render 'layouts/shared/notifications'%>
      <li class="nav-item">
        <a type="button" class="nav-link text-black text-center text-xxl-start py-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fa-regular fa-square-plus fa-xl"></i>
          <span class="d-none d-xxl-inline" style="margin-left: 18px">Create</span>
        </a>
      </li>
      <li class="nav-item">
        <% if current_user.profile_pic.attached? %>
          <%= link_to user_path(current_user), class: "nav-link text-black text-center text-xxl-start py-3" do %>
            <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle p-0", style: "width: 1.7rem; height: 1.7rem" %>
            <span class="d-none d-xxl-inline" style="margin-left: 14px">Profile</span>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user), class: "nav-link text-black text-center text-xxl-start py-3" do %>
            <%= image_tag "profile-pic.png", class: "img-thumbnail rounded-circle p-0", style: "width: 1.7rem" %>
            <span class="d-none d-xxl-inline" style="margin-left: 14px" >Profile</span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
  <div>
    <div class="dropdown open px-1 py-2 mb-3 rounded text-center text-xxl-start " id="navbar-more-button">
      <a class="btn border-0 outline-none text-black text-center" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-bars fa-xl"></i><span class="d-none d-xxl-inline" style="margin-left: 21px">More</span>
      </a>
      <div class="dropdown-menu shadow-lg w-100 rounded-4 position-absolute z-2" aria-labelledby="triggerId">
        <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item" %>
        <%= button_to "Log out", destroy_user_session_path, class: "dropdown-item", method: :delete%>
      </div>
    </div>
  </div>
</div>
