<nav class="navbar navbar-expand-lg bg-white fixed-top py-2">
  <div class="d-flex justify-content-around align-items-center bg-white border-bottom fixed-top px-0 py-1">
    <div>
      <%= link_to root_path, class: "navbar-brand  ps-2" do %>
        <%= image_tag 'logo.png', width: "80rem" %>
      <% end %>
    </div>
    <%= render 'layouts/shared/form' %>
    <%= render 'layouts/shared/notifications_mobile'%>
  </div>
  <div>
    <div class="navbar-collapse fixed-bottom d-flex justify-content-around bg-white py-1 mb-0">
      <%= link_to root_path do %>
        <i class="fa-solid fa-house fa-xl text-black p-3"></i>
      <% end %>
      <%= link_to root_path do %>
        <i class="fa-regular fa-compass fa-xl text-black p-3"></i>
      <% end %>
      <%= link_to root_path, class: "py-1 px-3" do %>
        <%= image_tag 'instagram-reels-icon.webp', width: "23rem" %>
      <% end %>
      <a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa-regular fa-square-plus fa-xl text-black p-3"></i>
      </a>
      <%= link_to root_path do %>
        <i class="fa-regular fa-paper-plane fa-xl text-black p-3"></i>
      <% end %>
      <i class="">
        <% if current_user.profile_pic.attached? %>
          <%= link_to user_path(current_user), class: "py-2 px-3" do %>
            <%= image_tag current_user.profile_pic, class: "img-thumbnail rounded-circle p-0", style:"width: 28px; height: 28px"%>
          <% end %>
        <% else %>
          <%= link_to user_path(current_user), class: "py-2 px-3" do %>
            <%= image_tag "profile-pic.jpg", class: "img-thumbnail rounded-circle p-0 border-0", style: "width: 28px; height:28px"%>
          <% end %>
        <% end %>
      </i>
    </div>
  </div>
</nav>
